@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Matemasie&family=Playwrite+CU:wght@100..400&display=swap');
.matemasie-regular {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Matemasie", sans-serif;
}

.container{
  max-width: 1460px;
  margin: auto;
  width: 100%;
}

